#{extends 'main.html' /}
#{set title: 'Rechercher un book' /}

<h1>Rechercher un book</h1>

#{form @LivreAction.rechercher()}

<table>
    #{field 'book.id'}
    <input type="hidden" name="${field.name}" value="${field.value}"/>
    #{/field}
    #{field 'book.titre'}
    <tr>
        <td><label for="${field.id}">Titre du book:</label></td>
        <td><input type="text" id="${field.id}" name="${field.name}" value="${field.value}"
                   class="${field.errorClass}"/></td>
    </tr>
    #{/field}
    #{field 'book.collection'}
    <tr>
        <td><label for="${field.id}">Collection du book:</label></td>
        <td><input type="text" id="${field.id}" name="${field.name}" value="${field.value}"
                   class="${field.errorClass}"/></td>
    </tr>
    #{/field}
    #{field 'book.etage'}
    <tr>
        <td><label for="${field.id}">Etage:</label></td>
        <td><input type="text" id="${field.id}" name="${field.name}" value="${field.value}"
                   class="${field.errorClass}"/></td>
    </tr>
    #{/field}
    #{field 'book.auteur.libelle'}
    <tr>
        <td><label for="${field.id}">Auteur du book:</label></td>
        <td><input type="text" id="${field.id}" name="${field.name}" value="${field.value}"
                   class="${field.errorClass}"/></td>
    </tr>
    #{/field}
</table>

<input type="submit" value="Rechercher"/>

#{/form}